<!DOCTYPE html>
<html lang="eng">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    {% block title_block %}
    {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/small-business.css' %}" rel="stylesheet">
	
	<!-- Style and javascript required for stars -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'bootstrap/styles.css' %}" rel="stylesheet">
	<script src="{% static 'bootstrap/main.js' %}" defer></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            {% block content %}

            {% endblock %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:index' %}">Rate My Recipe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% block nav %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>





    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <!-- Call to Action Well -->
        {% block body_block %}
        {% endblock %}


    </div>

    </main>



    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Evie Stokes (2444030S), Sarahi Villegas Quinonez (2477179V), <br>
                Paraskevi Katalanou (2458764K), Lewis Trundle (2469635T)
            </p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
    
    

