<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{recipe.title}} - Rate My Recipe</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/small-business.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'bootstrap/styles.css' %}" rel="stylesheet">
	<script src="{% static 'bootstrap/main.js' %}" defer></script>

</head>

<body>

   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:index' %}">Rate My Recipe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                     	<a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

		
    	<!-- Page content -->
    	<div class="container">
    		<!-- Heading Row -->
    		<div class="card text-white bg-secondary my-5 py-4 text-center">
    			<div class="card-body">
    			<h1 class="text-white m-0"><div id="title"> {{ recipe.title }} </div></h1>
    			<span id="hidden"><p id="avgrating">{{rating }}</p></span>
				
				<div class="stars">
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
				</div>
				
    			<p class="text-white m-0">Is vegan: {{ recipe.is_vegan }}</p>
    			<p class="text-white m-0">Is vegetarian: {{ recipe.is_vegetarian }}</p>
    			<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:chosen_category' recipe.category.slug %}">Go back to category</a>
    			</div>
    		</div>
    		<div class="row align-items-center my-5">
    			<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
    		</div>
    		<div>
    			<h3>Ingredients:</h3>
    				<p class="text-black m-0">{{ recipe.ingredients }}</p>

    				<p class="text-white m-0">Cost:{{ recipe.cost }}</p>
    				<p class="text-white m-0">{{ recipe.ingredients }}</p>
    		</div>
    		<div>
    			<h3>Method:</h3>
    				<p class="text-black m-0">Time: {{ recipe.time_needed }}</p>
    				<p class="text-black m-0">{{ recipe.directions }}</p>
    				
    		</div>
			
			<br>
			
			{% if user.is_authenticated %}
			<h3>How would you rate this recipe?</h3>
			<form class="rate-form" method="POST" action="{%url 'ratemyrecipeapp:chosen_recipe' recipe.slug %}" id="{{object.id}}">	
				{% csrf_token %}
				<button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
			</form>
			<br>
			<div id="confirm-box"></div>
			{% endif %}
    	</div>
    	
	<!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript 
        <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
</body>

</html>    	
    			
    			
    			
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
