{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name}} - Rate My Recipe 
{% endblock %}
{% block content %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:categories' %}">Rate My Recipe</a>
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                           
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">
                        Categories
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        
                    </li>
{% endblock %}
{% block body_block %}
<div class="row row-cols-1 row-cols-sm-2 g-2">
                    {% for r in recipes %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{% url 'ratemyrecipeapp:chosen_recipe' category.slug r.slug %}"><img src="/media/{{ r.picture }}" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ r.name }}</text></img></a>
                            <div class="card-body">
                                <h4>{{ r.title }}</h4>
								<p id="avgrating">{{rating}}</p>

                                <p class="card-text">{{ r.ingredients}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'ratemyrecipeapp:chosen_recipe' category.slug r.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">View Recipe</button></a>
                                    </div>
                                    <small class="text-muted">{{r.time_needed}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
{% endblock %}
