{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{recipe.title}} - Rate My Recipe
{% endblock %}
{% block content %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:index' %}">Rate My Recipe</a>
{% endblock %}

{% block nav %}
<li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home
                        <span class="sr-only">(current)</span>
                        </a>
                           
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">
                        Categories
                        
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        
                    </li>
{% endblock %}
{% block body_block %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
    			<div class="card-body">
    			<h1 class="text-white m-0"><div id="title"> {{ recipe.title }} </div></h1>

    			<span id="hidden"><p id="avgrating">{{rating }}</p></span>
				
				<div class="stars">
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
					<span class="fa fa-star fa-3x"></span>
				</div>
    			<p class="text-white m-0">Is vegan: {{ recipe.is_vegan }}</p>
    			<p class="text-white m-0">Is vegetarian: {{ recipe.is_vegetarian }}</p>
    			<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:chosen_category' recipe.category.slug %}">Go back to category</a>
    			</div>
    		</div>
    		<div class="row align-items-center my-5">
    			<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
    		</div>
    		<div>
    			<h3>Ingredients:</h3>
    				<p class="text-white m-0">Cost:{{ recipe.cost }}</p>
    				<p class="text-white m-0">{{ recipe.ingredients }}</p>
    		</div>
    		<div>
    			<h3>Method:</h3>
    				<p class="text-black m-0">Time: {{ recipe.time_needed }}</p>
    				<p class="text-black m-0">{{ recipe.directions }}</p>
    				
    		</div>
			
			<br>
			
			{% if user.is_authenticated %}
			<h3>How would you rate this recipe?</h3>
			<form class="rate-form" method="POST" action="{%url 'ratemyrecipeapp:chosen_recipe' recipe.slug %}" id="{{object.id}}">	
				{% csrf_token %}
				<button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
				<button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
			</form>
			<br>
			<div id="confirm-box"></div>
			{% endif %}
{% endblock %}
