{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login - Rate My Recipe
{% endblock %}
{% block content %}
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        <span class="sr-only">(current)</span>
                    </li>
{% endblock %}
{% block body_block %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
			<div class="card-body">
			<h1 class="font-weight-light">Login</h1>

			<p class="text-white m-0">Welcome back! Login to rate my recipes!</p>
			<form id="login_form" method="post" action="{%url 'ratemyrecipeapp:login' %}">
				{% csrf_token %}
				
				Username:   <input type="text" name="username" value="" size="50" /><br>
				Password:<input type="password" name="password" value="" size="50" /><br>
				<input type="submit" value="login" />
			</form>
			<p class="text-white m-0">Don't have an account?</p>
			<a class="btn-primary" href="{% url 'ratemyrecipeapp:signUp' %}">Sign Up</a>
</div>
</div>
{% endblock %}
