{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account - Rate My Recipe
{% endblock %}

{% block content %}
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                            
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        <span class="sr-only">(current)</span>
                    </li>
{% endblock %}

{% block body_block %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
			<div class="card-body">

{% if user.is_authenticated %}
			<p>
				<br class="text-white m-0">Welcome to Rate My Recipe, {{ user.username }}!</br>
				</p>
				<div ><p>
	<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:my_recipes' %}">My Recipes</a>
</p>
				</div>

				<div>
					<p>
						<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:recipes_ive_rated' %}">My Ratings</a>
					</p>
				</div>
				<div>
					<p>
					<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:logout' %}">Logout</a>
					</p>
				</div>
				
			{% else %}
				
				<p class="text-white m-0">Welcome to Rate My Recipe!</p>
				<p class="text-white m-0">Log In or Sign up here!</p>
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:login' %}">Login</a>
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:signUp' %}">Sign Up</a>
				
			{% endif %}
</div>
</div>
		
{% endblock %}
