{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account - Rate My Recipe
{% endblock %}

{% block content %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:account' %}">Rate My Recipe</a>
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                            
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        <span class="sr-only">(current)</span>
                    </li>
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
			
				<p class="text-white m-0">Welcome to Rate My Recipe, {{ user.username }}!</p>
				<div>
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:my_recipes' %}">My Recipes</a>	
				</div>
				<div>
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:recipes_ive_rated' %}">My Ratings</a>	
					
				</div>
				
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:logout' %}">Logout</a>
				
			{% else %}
				
				<p class="text-white m-0">Welcome to Rate My Recipe!</p>
				<p class="text-white m-0">Log In or Sign up here!</p>
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:login' %}">Login</a>
				<a class="btn btn-primary" href="{% url 'ratemyrecipeapp:signUp' %}">Sign Up</a>
				
			{% endif %}
		
{% endblock %}
