
{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account - Rate My Recipe
{% endblock %}
{% block content %}
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                         
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        <span class="sr-only">(current)</span>
                    </li>
{% endblock %}

{% block body_block %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Showing every recipe you have added</h1>
            <p>
                <a href="{% url 'ratemyrecipeapp:account' %}" class="btn btn-primary my-2">Go back to My Account</a>
            </p>
            
        </div>
    </div>
</section>

<div class="row row-cols-1 row-cols-sm-2 g-2">
{% if ratings %}
    {% for r in recipes %}
    <div class="col">
        <div class="card shadow-sm">
            <a href="{% url 'ratemyrecipeapp:chosen_recipe' r.category.slug r.slug %}"><img src="/media/{{ r.picture }}" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ r.title }}</text></img></a>
            <div class="card-body">
                <h4>{{ r.title }}</h4>
                <p id="avgrating">{{ rating }}</p>

                <p class="card-text">{{ r.ingredients}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'ratemyrecipeapp:chosen_recipe' r.category.slug r.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">View Recipe</button></a>
                    </div>
                    <small class="text-muted">{{r.time_needed}}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
	<div class="py-3 text-center container">
	<h2>You haven't added any recipes.</h2>
	</div>
{% endif %}


</div>
{% endblock %}

