{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account - Rate My Recipe
{% endblock %}
{% block content %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:account' %}">Rate My Recipe</a>
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                         
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        <span class="sr-only">(current)</span>
                    </li>
{% endblock %}
{% block body_block %}
<ul>
			{% if ratings %}
				{% for r in recipes %}
				<li>
				<a href="{% url 'ratemyrecipeapp:chosen_recipe' r.category.slug r.slug %}">{{ r.title }}</a>
				
				</li>
				{% endfor %}
			{% else %}
				<p class="m-0 text-center text-white">You haven't rated any recipes.</p>
			{% endif %}
</ul>
		
{% endblock %}
