{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sign Up - Rate My Recipe
{% endblock %}
{% block content %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:account' %}">Rate My Recipe</a>
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">Trending</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        <span class="sr-only">(current)</span>
                    </li>
{% endblock %}

{% block body_block %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
			<div class="card-body">
<h1 class="font-weight-light">Sign Up</h1>
			{% if registered %}
			<strong>Thank you for registering!</strong>
			<a href="{% url 'ratemyrecipeapp:index' %}">Return to the homepage.</a><br />
			{% else %}
			<p class="text-white m-0">Welcome to Rate My Recipe! Create your account here.</p>
			<form id="user_form" method="post" action="{%url 'ratemyrecipeapp:signUp' %}" enctyoe="multipart/-form-data">
				{% csrf_token %}
				{{ user_form.as_p }}
				{{profile_form.as_p }}
	
				<input type="submit" name="submit" value="Sign Up" />
			</form>
			{% endif %}
			<p class="text-white m-0">Already have an account?</p>
			<a class="btn-primary" href="{% url 'ratemyrecipeapp:login' %}">Login</a>
</div>
</div>
		
{% endblock %}
