{% extends 'ratemyrecipeapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Trending Recipe - Rate My Recipe
{% endblock %}
{% block content %}
            <a class="navbar-brand" href="{% url 'ratemyrecipeapp:trending' %}">Rate My Recipe</a>
{% endblock %}

{% block nav %}
<li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:index' %}">Home</a>
                            
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:categories' %}">Categories</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:trending' %}">
                        Trending
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'ratemyrecipeapp:account' %}">My Account</a>
                        
                    </li>
{% endblock %}
{% block body_block %}
			<h1 class="text-white m-0"><u>Showing the top <b>{{amount}}</b> recipes</u></h1>
{% for rating in ratings %}
    		<div class="card text-white bg-secondary my-5 py-4 text-center">
    			<div class="card-body">
    			<h1 class="text-white m-0">Trending right now: {{ rating.recipe.title }} </h1>
				
				<p class="text-white m-0">No. of stars: 
				<p id="avgrating">{{rating.rating}}</p>
				</p>
				
    			<p class="text-white m-0">Is vegan: {{ rating.recipe.is_vegan }}</p>
    			<p class="text-white m-0">Is vegetarian: {{ rating.recipe.is_vegetarian }}</p>
    			</div>
    		</div>
    		
    		<div class="row align-items-center my-5">
    			<img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
    		</div>
    		<div>
    			<h3>Ingredients:</h3>
    				<p class="text-black m-0">Cost:{{ rating.recipe.cost }}</p>
    				<p class="text-black m-0">{{ rating.recipe.ingredients }}</p>
    		</div>
    		<div>
    			<h3>Method:</h3>
    				<p class="text-black m-0">Time: {{ rating.ecipe.time_needed }}</p>
    				<p class="text-black m-0">{{ rating.recipe.directions }}</p>
    				
    		</div>
			{% endfor %}
{% endblock %}

